{% extends "base.html.twig" %}
{% block main %}
    <main class="mainHome">
        <section>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-11" >
                            {% if destacadas|length > 0 %}
                            <div class="row">
                                {% for destacada in destacadas %}
                                <div class="col-md-6" >
                                    <a href="./pages/detalleNoticia2.html"><article class="containerNoticias">
                                        <figure>
                                            <img class="imgPosteoSecundario" src="{{ vich_uploader_asset(destacada, 'imageFile')}}" alt="img-{{destacada.titulo}}">
                                        </figure>
                                        <div>
                                            <h3>{{destacada.titulo}}</h3>
                                            <a href="detalle-noticia/{{destacada.id}}">Ir a la noticia</a>
                                        </div>
                                    </article></a>
                                </div>
                                {% endfor %}
                                {# <div class="col-md-6" >
                                    <a href="./pages/detalleNoticia2.html"><article class="containerNoticias">
                                        <figure>
                                            <img class="imgPosteoSecundario" src="{{asset('build/img/imgNoticia2.jpg')}}" alt="img2">
                                        </figure>
                                        <div>
                                            <h3>La Defensoría del Pueblo recibe reclamos de personas damnificadas por los cortes de energía y agua</h3>
                                            <a href="./pages/detalleNoticia2.html">Ir a la noticia</a>
                                        </div>
                                    </article></a>
                                </div> #}
                                <hr>    
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-4" >
                                    <a href="./pages/detalleNoticia3.html"><article class="containerNoticias">
                                        <figure>
                                            <img class="imgPosteoSecundario" src="{{asset('build/img/imgNoticia3.jpg')}}" alt="img3">
                                        </figure>
                                        <div>
                                            <h3>Argentinos, argentinas y residentes con esquema completo no deberán presentar PCR al ingresar al país</h3>
                                            </p>
                                            <a href="./pages/detalleNoticia3.html">Ir a la noticia </a>
                                        </div>
                                    </article></a>
                                </div>
                                <div class="col-md-4" >
                                    <a href="./pages/detalleNoticia4.html"><article class="containerNoticias">
                                        <figure>
                                            <img class="imgPosteoSecundario" src="{{asset('build/img/imgNoticia4.jpg')}}" alt="img4">
                                        </figure>
                                        <div>
                                            <h3>El gobernador inauguró la obra de acceso al Puerto Las Palmas</h3>
                                            <a href="./pages/detalleNoticia4.html">Ir a la noticia </a>
                                        </div>
                                    </article></a>
                                </div>
                                <div class="col-md-4" >
                                    <a href="./pages/detalleNoticia5.html"><article class="containerNoticias">
                                        <figure>
                                            <img class="imgPosteoSecundario" src="{{asset('build/img/imgNoticia5.jpg')}}" alt="img5">
                                        </figure>
                                        <div>
                                            <h3>COVID-19: cronograma de vacunación y postas de testeo para este lunes 24</h3>
                                            <a href="./pages/detalleNoticia5.html">Ir a la noticia </a>
                                        </div>
                                    </article></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </main>
{% endblock %}